<div>
  <div  class="list_items_container">
    <div class="list_item">
      <div class="list_item_avatar">
        <div style="text-align: center">
          <div class="favouritable_icon">
            <a class="asset" href="#">
              <%= image_tag "avatar.png" %>
            </a>
          </div>
        </div>
      </div>
      <div class="list_item_content">
        <div class="list_item_title">
          <p>
            <%= image_tag "crystal_project/32x32/apps/kformula.png" %>
            <a href="#">Test Model 1</a>
          </p>
        </div>
        <div class="list_item_left_column">
          <p class="list_item_attribute"> <a href="#"> attr1 </a> </p>
          <p class="list_item_attribute"> attr2</p>
        </div><div class="list_item_right_column">
          <p class="list_item_attribute"> <a href="#"> attr1 </a> </p>
          <p class="list_item_attribute"> attr2</p>
        </div>
        <div class="list_item_whole_width">
          <div class="list_item_desc">
            <span class="none_text">No description specified</span>
          </div>
          <p class="list_item_attribute none_text">
            <b>Created:</b>
            7th Sep 2010 at 20:55
            <b>Last updated:</b>
            3rd Aug 2011 at 11:02
          </p>
        </div>
      </div>
      <div class="list_item_actions">
        <span class="icon">
          <a href="">
            <%= image_tag asset_path("famfamfam_silk/arrow_down.png"), {:alt=>"download"} %>
            download
          </a>
        </span>
      </div>
    </div>
    <div class="list_item">
      <div class="list_item_avatar">
        <div style="text-align: center">
          <div class="favouritable_icon">
            <a class="asset" href="#">
              <%= image_tag "avatar.png" %>
            </a>
          </div>
        </div>
      </div>
      <div class="list_item_content">
        <div class="list_item_title">
          <p style="width:95%;">
            <%= image_tag "crystal_project/32x32/apps/kformula.png" %>
            <a href="#">Test Model 1</a>
        </div>
        <div class="list_item_left_column">
          <p class="list_item_attribute"> <a href="#"> attr1 </a> </p>
          <p class="list_item_attribute"> attr2</p>
        </div><div class="list_item_right_column">
          <p class="list_item_attribute"> <a href="#"> attr1 </a> </p>
          <p class="list_item_attribute"> attr2</p>
        </div>
        <div class="list_item_whole_width">
          <div class="list_item_desc">
            <span class="none_text">No description specified</span>
          </div>
          <p class="list_item_attribute none_text">
            <b>Created:</b>
            7th Sep 2010 at 20:55
            <b>Last updated:</b>
            3rd Aug 2011 at 11:02
          </p>
        </div>
      </div>
    </div>
    <div class="list_item">
      <div class="list_item_content ">
        <div class="list_item_title">
          <p style="width:95%;">
            <%= image_tag "crystal_project/32x32/apps/kformula.png" %>
            <a href="#">Test Model 1</a>
        </div>
        <div class="list_item_left_column">
          <p class="list_item_attribute"> <a href="#"> attr1 </a> </p>
          <p class="list_item_attribute"> attr2</p>
        </div><div class="list_item_right_column">
          <p class="list_item_attribute"> <a href="#"> attr1 </a> </p>
          <p class="list_item_attribute"> attr2</p>
        </div>
        <div class="list_item_whole_width">
          <div class="list_item_desc">
            <span class="none_text">No description specified</span>
          </div>
          <p class="list_item_attribute none_text">
            <b>Created:</b>
            7th Sep 2010 at 20:55
            <b>Last updated:</b>
            3rd Aug 2011 at 11:02
          </p>
        </div>
      </div>
      <div class="list_item_actions">
        <span class="icon">
          <a href="">
            <%= image_tag asset_path("famfamfam_silk/arrow_down.png"), {:alt=>"download"} %>
            download
          </a>
        </span>
      </div>
    </div>
    <div class="list_item">
      <div class="list_item_content">
        <div class="list_item_title">
          <p style="width:95%;">
            <%= image_tag "crystal_project/32x32/apps/kformula.png" %>
            <a href="#">Test Model 2</a>
            <br style="clear:both">
        </div>
        <div class="list_item_left_column">
          <p class="list_item_attribute"><a href="#"> attr1 </a>  </p>

          <p class="list_item_attribute"> attr2</p>
        </div><div class="list_item_right_column">
          <p class="list_item_attribute"> <a href="#"> attr1 </a> </p>

          <p class="list_item_attribute"> attr2</p>
        </div>
        <div class="list_item_whole_width">
          <div class="list_item_desc">
            <span class="none_text">No description specified</span>
          </div>
          <p class="list_item_attribute none_text">
            <b>Created:</b>
            7th Sep 2010 at 20:55
            <b>Last updated:</b>
            3rd Aug 2011 at 11:02
          </p>
        </div>
      </div>
    </div>
    <div class="list_item public_list_item">
      <div class="list_item_content">        <div class="list_item_title">
          <p style="width:95%;">
            <%= image_tag "crystal_project/32x32/apps/kformula.png" %>
            <a href="#">Public Test Data</a>
            <br style="clear:both">
        </div>
        <div class="list_item_left_column">
          <p class="list_item_attribute"><a href="#"> attr1 </a>  </p>

          <p class="list_item_attribute"> attr2</p>
        </div><div class="list_item_right_column">
          <p class="list_item_attribute"> <a href="#"> attr1 </a> </p>

          <p class="list_item_attribute"> attr2</p>
        </div>
        <div class="list_item_whole_width">
          <div class="list_item_desc">
            <span class="none_text">No description specified</span>
          </div>
          <p class="list_item_attribute none_text">
            <b>Created:</b>
            7th Sep 2010 at 20:55
            <b>Last updated:</b>
            3rd Aug 2011 at 11:02
          </p>
        </div>
      </div>
    </div>
    <div class="list_item private_list_item">
      <div class="list_item_content">
        <div class="list_item_title">
          <p style="width:95%;">
            <%= image_tag "crystal_project/32x32/apps/kformula.png" %>
            <a href="#">Private Test Data</a>
            <br style="clear:both">
        </div>
        <div class="list_item_left_column">
          <p class="list_item_attribute"><a href="#"> attr1 </a>  </p>

          <p class="list_item_attribute"> attr2</p>
        </div><div class="list_item_right_column">
          <p class="list_item_attribute"> <a href="#"> attr1 </a> </p>

          <p class="list_item_attribute"> attr2</p>
        </div>
        <div class="list_item_whole_width">
          <div class="list_item_desc">
            <span class="none_text">No description specified</span>
          </div>
          <p class="list_item_attribute none_text">
            <b>Created:</b>
            7th Sep 2010 at 20:55
            <b>Last updated:</b>
            3rd Aug 2011 at 11:02
          </p>
        </div>
      </div>
    </div>
  </div>
</div>