<% unless logged_in_and_registered? -%>
    <div class="sysmo_gadget">
      <div class="header">
        <p>
          Log in / Register
        </p>
      </div>
      <div class="contents" id="login-container">
        <%= form_tag main_app.session_path do %>
            <%= hidden_field_tag "called_from[url]", request.original_url -%>
            <%= hidden_field_tag "called_from[controller]", controller.controller_name -%>
            <%= hidden_field_tag "called_from[action]", controller.action_name -%>
            <%= hidden_field_tag "called_from[id]", params[:id] -%>

            <a href="#" id="login_toggle_link" onclick="toggleLogin();return false">Log in
              using <%= image_tag "openid-16x16.gif" %>OpenID</a>

            <div id="password_login">
               <%= text_field_tag 'login', nil, :class => 'field', :placeholder => "username" -%>
               <%= password_field_tag 'password', nil, :class => 'field', :placeholder => "password"  -%>
                <%= check_box_tag 'remember_me', nil, false%>
                <%= label_tag "remember_me", "Remember me" %>
            </div>
            <div id="openid_login" style="display: none">
              <p>
                <a href="http://openid.net/" target="_blank"><%= image_tag "openid-16x16.gif" %>OpenID:</a>
               </p>
              <p>
                <%= text_field_tag 'openid_identifier', nil, :class => 'field' -%>
              </p>
            </div>

            <%= submit_tag "Log in", :id => "login_button", :onclick => "$('login_button').disabled=true;this.form.submit();return(false);" %>
        <% end %>
        <div id="account_options">
           <%= link_to "Sign up", main_app.signup_url %>
           <%= link_to "Forgotten password?", main_app.forgot_password_url %>
        </div>
      </div>
    </div>
<% end -%>
<script type="text/javascript">
    function toggleLogin() {
        var elem1 = $('password_login');
        var elem2 = $('openid_login');
        var link = $('login_toggle_link');
        if (elem1.style.display == 'none') {
            link.innerHTML = '<%= ("Log in using "+image_tag("openid-16x16.gif")+"OpenID").html_safe %>';
            Effect.BlindUp('openid_login', {
                duration: 0.2
            });
            Effect.BlindDown('password_login', {
                duration: 0.2
            });
        }
        else {
            link.innerHTML = "Log in using username/password";
            Effect.BlindUp('password_login', {
                duration: 0.2
            });
            Effect.BlindDown('openid_login', {
                duration: 0.2
            });
        }
    }
</script>
